<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Boletim Escolar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h3> BOLETIM ESCOLAR </h3>
        <table class="table table-success">
          <thead class="thead-light">
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Nota</th>
              <th scope="col">Situação</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                    <<td><a href="{% url 'index'%}">{{aluno.nome }}</a></td>
                    <td>{{ aluno.nota }}</td>
                    <td>{{ aluno.situacao }}</td>
                </tr>
          </tbody>
        </table>
</body>
</html>